// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptions, normalizeClientOptions } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as ApologistAgent from "../../../index.js";

export declare namespace SharesClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Public share link endpoints
 */
export class SharesClient {
    protected readonly _options: NormalizedClientOptions<SharesClient.Options>;

    constructor(options: SharesClient.Options = {}) {
        this._options = normalizeClientOptions(options);
    }

    /**
     * Public, unauthenticated read of the messages behind a share token. The token is the bearer capability and enforces tenant isolation against the host agent. An empty or invalid token yields an empty messages array.
     *
     * @param {ApologistAgent.GetSharedMessagesRequest} request
     * @param {SharesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ApologistAgent.InternalServerError}
     * @throws {@link ApologistAgent.ServiceUnavailableError}
     * @throws {@link errors.ApologistAgentError}
     * @throws {@link errors.ApologistAgentTimeoutError}
     *
     * @example
     *     await client.shares.getSharedMessages({
     *         token: "token"
     *     })
     */
    public getSharedMessages(
        request: ApologistAgent.GetSharedMessagesRequest,
        requestOptions?: SharesClient.RequestOptions,
    ): core.HttpResponsePromise<ApologistAgent.GetSharedMessagesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getSharedMessages(request, requestOptions));
    }

    private async __getSharedMessages(
        request: ApologistAgent.GetSharedMessagesRequest,
        requestOptions?: SharesClient.RequestOptions,
    ): Promise<core.WithRawResponse<ApologistAgent.GetSharedMessagesResponse>> {
        const { token } = request;
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ApologistAgentEnvironment.Default,
                `shares/${core.url.encodePathParam(token)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as ApologistAgent.GetSharedMessagesResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 500:
                    throw new ApologistAgent.InternalServerError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 503:
                    throw new ApologistAgent.ServiceUnavailableError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.ApologistAgentError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/shares/{token}");
    }
}
