// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptions, normalizeClientOptions } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import { mergeAdditionalBodyParameters } from "../../../../core/requestBody.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as ApologistAgent from "../../../index.js";

export declare namespace ChannelsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Inbound messaging channel webhooks (Discord, Facebook/Instagram, LINE, Telegram, Twilio, WhatsApp)
 */
export class ChannelsClient {
    protected readonly _options: NormalizedClientOptions<ChannelsClient.Options>;

    constructor(options: ChannelsClient.Options = {}) {
        this._options = normalizeClientOptions(options);
    }

    /**
     * Returns the status of the Discord channel. Used as a lightweight health/verification endpoint.
     *
     * @param {ApologistAgent.GetDiscordChannelStatusRequest} request
     * @param {ChannelsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ApologistAgent.NotFoundError}
     * @throws {@link errors.ApologistAgentError}
     * @throws {@link errors.ApologistAgentTimeoutError}
     *
     * @example
     *     await client.channels.getDiscordChannelStatus({
     *         id: "id"
     *     })
     */
    public getDiscordChannelStatus(
        request: ApologistAgent.GetDiscordChannelStatusRequest,
        requestOptions?: ChannelsClient.RequestOptions,
    ): core.HttpResponsePromise<ApologistAgent.GetDiscordChannelStatusResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getDiscordChannelStatus(request, requestOptions));
    }

    private async __getDiscordChannelStatus(
        request: ApologistAgent.GetDiscordChannelStatusRequest,
        requestOptions?: ChannelsClient.RequestOptions,
    ): Promise<core.WithRawResponse<ApologistAgent.GetDiscordChannelStatusResponse>> {
        const { id } = request;
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ApologistAgentEnvironment.Default,
                `channels/${core.url.encodePathParam(id)}/discord`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as ApologistAgent.GetDiscordChannelStatusResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new ApologistAgent.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.ApologistAgentError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/channels/{id}/discord");
    }

    /**
     * Receives Discord interaction callbacks for the channel. Requests are verified via Ed25519 signature headers; unsigned or invalid requests are rejected. Payload shape is defined by Discord.
     *
     * @param {ApologistAgent.ReceiveDiscordInteractionRequest} request
     * @param {ChannelsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ApologistAgent.BadRequestError}
     * @throws {@link ApologistAgent.UnauthorizedError}
     * @throws {@link errors.ApologistAgentError}
     * @throws {@link errors.ApologistAgentTimeoutError}
     *
     * @example
     *     await client.channels.receiveDiscordInteraction({
     *         "x-signature-ed25519": "x-signature-ed25519",
     *         "x-signature-timestamp": "x-signature-timestamp",
     *         id: "id",
     *         body: {
     *             "key": "value"
     *         }
     *     })
     */
    public receiveDiscordInteraction(
        request: ApologistAgent.ReceiveDiscordInteractionRequest,
        requestOptions?: ChannelsClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__receiveDiscordInteraction(request, requestOptions));
    }

    private async __receiveDiscordInteraction(
        request: ApologistAgent.ReceiveDiscordInteractionRequest,
        requestOptions?: ChannelsClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const {
            id,
            "x-signature-ed25519": signatureEd25519,
            "x-signature-timestamp": signatureTimestamp,
            body: _body,
        } = request;
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "x-signature-ed25519": signatureEd25519,
                "x-signature-timestamp": signatureTimestamp,
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ApologistAgentEnvironment.Default,
                `channels/${core.url.encodePathParam(id)}/discord`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new ApologistAgent.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new ApologistAgent.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.ApologistAgentError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/channels/{id}/discord");
    }

    /**
     * Returns the status of the LINE channel. Used as a lightweight health/verification endpoint.
     *
     * @param {ApologistAgent.GetLineChannelStatusRequest} request
     * @param {ChannelsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ApologistAgent.NotFoundError}
     * @throws {@link errors.ApologistAgentError}
     * @throws {@link errors.ApologistAgentTimeoutError}
     *
     * @example
     *     await client.channels.getLineChannelStatus({
     *         id: "id"
     *     })
     */
    public getLineChannelStatus(
        request: ApologistAgent.GetLineChannelStatusRequest,
        requestOptions?: ChannelsClient.RequestOptions,
    ): core.HttpResponsePromise<ApologistAgent.GetLineChannelStatusResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getLineChannelStatus(request, requestOptions));
    }

    private async __getLineChannelStatus(
        request: ApologistAgent.GetLineChannelStatusRequest,
        requestOptions?: ChannelsClient.RequestOptions,
    ): Promise<core.WithRawResponse<ApologistAgent.GetLineChannelStatusResponse>> {
        const { id } = request;
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ApologistAgentEnvironment.Default,
                `channels/${core.url.encodePathParam(id)}/line`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as ApologistAgent.GetLineChannelStatusResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new ApologistAgent.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.ApologistAgentError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/channels/{id}/line");
    }

    /**
     * Receives LINE Messaging API webhook events for the channel. Requests are verified via the `x-line-signature` HMAC-SHA256 (Base64) header using the channel secret unless an `api_key` is present. Payload shape is defined by LINE. The route acknowledges quickly and processes text `message` and `follow` events asynchronously.
     *
     * @param {ApologistAgent.ReceiveLineWebhookRequest} request
     * @param {ChannelsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ApologistAgent.BadRequestError}
     * @throws {@link ApologistAgent.ForbiddenError}
     * @throws {@link ApologistAgent.InternalServerError}
     * @throws {@link ApologistAgent.ServiceUnavailableError}
     * @throws {@link errors.ApologistAgentError}
     * @throws {@link errors.ApologistAgentTimeoutError}
     *
     * @example
     *     await client.channels.receiveLineWebhook({
     *         id: "id",
     *         body: {
     *             "key": "value"
     *         }
     *     })
     */
    public receiveLineWebhook(
        request: ApologistAgent.ReceiveLineWebhookRequest,
        requestOptions?: ChannelsClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__receiveLineWebhook(request, requestOptions));
    }

    private async __receiveLineWebhook(
        request: ApologistAgent.ReceiveLineWebhookRequest,
        requestOptions?: ChannelsClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { id, "x-line-signature": lineSignature, body: _body } = request;
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "x-line-signature": lineSignature }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ApologistAgentEnvironment.Default,
                `channels/${core.url.encodePathParam(id)}/line`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new ApologistAgent.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new ApologistAgent.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new ApologistAgent.InternalServerError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 503:
                    throw new ApologistAgent.ServiceUnavailableError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.ApologistAgentError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/channels/{id}/line");
    }

    /**
     * Handles the Meta webhook verification handshake, echoing `hub.challenge` when `hub.verify_token` matches the channel's configured token.
     *
     * @param {ApologistAgent.VerifyFacebookWebhookRequest} request
     * @param {ChannelsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ApologistAgent.BadRequestError}
     * @throws {@link ApologistAgent.ForbiddenError}
     * @throws {@link ApologistAgent.NotFoundError}
     * @throws {@link errors.ApologistAgentError}
     * @throws {@link errors.ApologistAgentTimeoutError}
     *
     * @example
     *     await client.channels.verifyFacebookWebhook({
     *         id: "id",
     *         "hub.mode": "subscribe",
     *         "hub.verify_token": "hub.verify_token"
     *     })
     */
    public verifyFacebookWebhook(
        request: ApologistAgent.VerifyFacebookWebhookRequest,
        requestOptions?: ChannelsClient.RequestOptions,
    ): core.HttpResponsePromise<string> {
        return core.HttpResponsePromise.fromPromise(this.__verifyFacebookWebhook(request, requestOptions));
    }

    private async __verifyFacebookWebhook(
        request: ApologistAgent.VerifyFacebookWebhookRequest,
        requestOptions?: ChannelsClient.RequestOptions,
    ): Promise<core.WithRawResponse<string>> {
        const { id, "hub.mode": hubMode, "hub.verify_token": hubVerifyToken, "hub.challenge": hubChallenge } = request;
        const _queryParams: Record<string, unknown> = {
            "hub.mode": hubMode,
            "hub.verify_token": hubVerifyToken,
            "hub.challenge": hubChallenge,
        };
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ApologistAgentEnvironment.Default,
                `channels/${core.url.encodePathParam(id)}/facebook`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            responseType: "text",
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as string, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new ApologistAgent.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new ApologistAgent.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new ApologistAgent.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.ApologistAgentError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/channels/{id}/facebook");
    }

    /**
     * Receives Facebook/Messenger (and Instagram-style) message events for the channel. Payload shape is defined by Meta.
     *
     * @param {ApologistAgent.ReceiveFacebookMessageRequest} request
     * @param {ChannelsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ApologistAgent.InternalServerError}
     * @throws {@link ApologistAgent.ServiceUnavailableError}
     * @throws {@link errors.ApologistAgentError}
     * @throws {@link errors.ApologistAgentTimeoutError}
     *
     * @example
     *     await client.channels.receiveFacebookMessage({
     *         id: "id",
     *         body: {
     *             "key": "value"
     *         }
     *     })
     */
    public receiveFacebookMessage(
        request: ApologistAgent.ReceiveFacebookMessageRequest,
        requestOptions?: ChannelsClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__receiveFacebookMessage(request, requestOptions));
    }

    private async __receiveFacebookMessage(
        request: ApologistAgent.ReceiveFacebookMessageRequest,
        requestOptions?: ChannelsClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { id, body: _body } = request;
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ApologistAgentEnvironment.Default,
                `channels/${core.url.encodePathParam(id)}/facebook`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 500:
                    throw new ApologistAgent.InternalServerError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 503:
                    throw new ApologistAgent.ServiceUnavailableError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.ApologistAgentError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/channels/{id}/facebook");
    }

    /**
     * Returns a static HTML privacy policy page for the Instagram integration.
     *
     * @param {ApologistAgent.GetInstagramPrivacyPolicyRequest} request
     * @param {ChannelsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.ApologistAgentError}
     * @throws {@link errors.ApologistAgentTimeoutError}
     *
     * @example
     *     await client.channels.getInstagramPrivacyPolicy({
     *         id: "id"
     *     })
     */
    public getInstagramPrivacyPolicy(
        request: ApologistAgent.GetInstagramPrivacyPolicyRequest,
        requestOptions?: ChannelsClient.RequestOptions,
    ): core.HttpResponsePromise<string> {
        return core.HttpResponsePromise.fromPromise(this.__getInstagramPrivacyPolicy(request, requestOptions));
    }

    private async __getInstagramPrivacyPolicy(
        request: ApologistAgent.GetInstagramPrivacyPolicyRequest,
        requestOptions?: ChannelsClient.RequestOptions,
    ): Promise<core.WithRawResponse<string>> {
        const { id } = request;
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ApologistAgentEnvironment.Default,
                `channels/${core.url.encodePathParam(id)}/instagram/privacy`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            responseType: "text",
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as string, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.ApologistAgentError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/channels/{id}/instagram/privacy",
        );
    }

    /**
     * Receives Telegram bot update events for the channel. Non-message updates are acknowledged and ignored. Payload shape is defined by Telegram.
     *
     * @param {ApologistAgent.ReceiveTelegramUpdateRequest} request
     * @param {ChannelsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ApologistAgent.ForbiddenError}
     * @throws {@link ApologistAgent.InternalServerError}
     * @throws {@link errors.ApologistAgentError}
     * @throws {@link errors.ApologistAgentTimeoutError}
     *
     * @example
     *     await client.channels.receiveTelegramUpdate({
     *         id: "id",
     *         body: {
     *             "key": "value"
     *         }
     *     })
     */
    public receiveTelegramUpdate(
        request: ApologistAgent.ReceiveTelegramUpdateRequest,
        requestOptions?: ChannelsClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__receiveTelegramUpdate(request, requestOptions));
    }

    private async __receiveTelegramUpdate(
        request: ApologistAgent.ReceiveTelegramUpdateRequest,
        requestOptions?: ChannelsClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { id, body: _body } = request;
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ApologistAgentEnvironment.Default,
                `channels/${core.url.encodePathParam(id)}/telegram`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 403:
                    throw new ApologistAgent.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new ApologistAgent.InternalServerError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.ApologistAgentError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/channels/{id}/telegram");
    }

    /**
     * Receives inbound Twilio messages for the channel as form-encoded data. Payload fields are defined by Twilio.
     *
     * @param {ApologistAgent.ReceiveTwilioMessageRequest} request
     * @param {ChannelsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ApologistAgent.ForbiddenError}
     * @throws {@link ApologistAgent.InternalServerError}
     * @throws {@link errors.ApologistAgentError}
     * @throws {@link errors.ApologistAgentTimeoutError}
     *
     * @example
     *     await client.channels.receiveTwilioMessage({
     *         id: "id"
     *     })
     */
    public receiveTwilioMessage(
        request: ApologistAgent.ReceiveTwilioMessageRequest,
        requestOptions?: ChannelsClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__receiveTwilioMessage(request, requestOptions));
    }

    private async __receiveTwilioMessage(
        request: ApologistAgent.ReceiveTwilioMessageRequest,
        requestOptions?: ChannelsClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { id, ..._body } = request;
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ApologistAgentEnvironment.Default,
                `channels/${core.url.encodePathParam(id)}/twilio`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/x-www-form-urlencoded",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "form",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 403:
                    throw new ApologistAgent.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new ApologistAgent.InternalServerError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.ApologistAgentError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/channels/{id}/twilio");
    }

    /**
     * Handles the Meta WhatsApp Cloud API webhook verification handshake, echoing `hub.challenge` when `hub.verify_token` matches the channel's configured token.
     *
     * @param {ApologistAgent.VerifyWhatsAppWebhookRequest} request
     * @param {ChannelsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ApologistAgent.BadRequestError}
     * @throws {@link ApologistAgent.ForbiddenError}
     * @throws {@link ApologistAgent.NotFoundError}
     * @throws {@link errors.ApologistAgentError}
     * @throws {@link errors.ApologistAgentTimeoutError}
     *
     * @example
     *     await client.channels.verifyWhatsAppWebhook({
     *         id: "id",
     *         "hub.mode": "subscribe",
     *         "hub.verify_token": "hub.verify_token"
     *     })
     */
    public verifyWhatsAppWebhook(
        request: ApologistAgent.VerifyWhatsAppWebhookRequest,
        requestOptions?: ChannelsClient.RequestOptions,
    ): core.HttpResponsePromise<string> {
        return core.HttpResponsePromise.fromPromise(this.__verifyWhatsAppWebhook(request, requestOptions));
    }

    private async __verifyWhatsAppWebhook(
        request: ApologistAgent.VerifyWhatsAppWebhookRequest,
        requestOptions?: ChannelsClient.RequestOptions,
    ): Promise<core.WithRawResponse<string>> {
        const { id, "hub.mode": hubMode, "hub.verify_token": hubVerifyToken, "hub.challenge": hubChallenge } = request;
        const _queryParams: Record<string, unknown> = {
            "hub.mode": hubMode,
            "hub.verify_token": hubVerifyToken,
            "hub.challenge": hubChallenge,
        };
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ApologistAgentEnvironment.Default,
                `channels/${core.url.encodePathParam(id)}/whatsapp`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            responseType: "text",
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as string, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new ApologistAgent.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new ApologistAgent.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new ApologistAgent.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.ApologistAgentError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/channels/{id}/whatsapp");
    }

    /**
     * Receives WhatsApp Cloud API message events for the channel. Payload shape is defined by Meta. Signature verification via `x-hub-signature-256` is used when the channel has an App Secret configured; otherwise the webhook relies on URL secrecy and/or an `api_key` query parameter.
     *
     * @param {ApologistAgent.ReceiveWhatsAppMessageRequest} request
     * @param {ChannelsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ApologistAgent.ForbiddenError}
     * @throws {@link ApologistAgent.InternalServerError}
     * @throws {@link ApologistAgent.ServiceUnavailableError}
     * @throws {@link errors.ApologistAgentError}
     * @throws {@link errors.ApologistAgentTimeoutError}
     *
     * @example
     *     await client.channels.receiveWhatsAppMessage({
     *         id: "id",
     *         body: {
     *             "key": "value"
     *         }
     *     })
     */
    public receiveWhatsAppMessage(
        request: ApologistAgent.ReceiveWhatsAppMessageRequest,
        requestOptions?: ChannelsClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__receiveWhatsAppMessage(request, requestOptions));
    }

    private async __receiveWhatsAppMessage(
        request: ApologistAgent.ReceiveWhatsAppMessageRequest,
        requestOptions?: ChannelsClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { id, "x-hub-signature-256": hubSignature256, body: _body } = request;
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "x-hub-signature-256": hubSignature256 }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ApologistAgentEnvironment.Default,
                `channels/${core.url.encodePathParam(id)}/whatsapp`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 403:
                    throw new ApologistAgent.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new ApologistAgent.InternalServerError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 503:
                    throw new ApologistAgent.ServiceUnavailableError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.ApologistAgentError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/channels/{id}/whatsapp");
    }
}
