// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import { mergeAdditionalBodyParameters } from "../../../../core/requestBody.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as ApologistAgent from "../../../index.js";

export declare namespace ChatClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Chat completion endpoints for conversational AI
 */
export class ChatClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<ChatClient.Options>;

    constructor(options: ChatClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Returns a paginated list of chat completions (prompts) for the agent, with applied tags expanded as { id, name } and share metadata.
     *
     * @param {ApologistAgent.ListChatCompletionsRequest} request
     * @param {ChatClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ApologistAgent.ForbiddenError}
     * @throws {@link ApologistAgent.InternalServerError}
     * @throws {@link errors.ApologistAgentError}
     * @throws {@link errors.ApologistAgentTimeoutError}
     *
     * @example
     *     await client.chat.listChatCompletions()
     */
    public listChatCompletions(
        request: ApologistAgent.ListChatCompletionsRequest = {},
        requestOptions?: ChatClient.RequestOptions,
    ): core.HttpResponsePromise<ApologistAgent.ListChatCompletionsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__listChatCompletions(request, requestOptions));
    }

    private async __listChatCompletions(
        request: ApologistAgent.ListChatCompletionsRequest = {},
        requestOptions?: ChatClient.RequestOptions,
    ): Promise<core.WithRawResponse<ApologistAgent.ListChatCompletionsResponse>> {
        const {
            page,
            per_page: perPage,
            agent_id: agentId,
            channel_id: channelId,
            bible_id: bibleId,
            cached,
            client,
            config_id: configId,
            conversation_id: conversationId,
            device_id: deviceId,
            flagged,
            favorited,
            language,
            liked,
            session_id: sessionId,
            user_id: userId,
            min_timestamp: minTimestamp,
            max_timestamp: maxTimestamp,
        } = request;
        const _queryParams: Record<string, unknown> = {
            page,
            per_page: perPage,
            agent_id: agentId,
            channel_id: channelId,
            bible_id: bibleId,
            cached,
            client,
            config_id: configId,
            conversation_id: conversationId,
            device_id: deviceId,
            flagged,
            favorited,
            language,
            liked,
            session_id: sessionId,
            user_id: userId,
            min_timestamp: minTimestamp,
            max_timestamp: maxTimestamp,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ApologistAgentEnvironment.Default,
                "chat/completions",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as ApologistAgent.ListChatCompletionsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 403:
                    throw new ApologistAgent.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new ApologistAgent.InternalServerError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.ApologistAgentError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/chat/completions");
    }

    /**
     * Creates a chat completion using the agent's configured model. Supports both streaming and non-streaming responses.
     *
     * @param {ApologistAgent.ChatCompletionRequest} request
     * @param {ChatClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ApologistAgent.ForbiddenError}
     * @throws {@link ApologistAgent.UnprocessableEntityError}
     * @throws {@link ApologistAgent.ServiceUnavailableError}
     * @throws {@link errors.ApologistAgentError}
     * @throws {@link errors.ApologistAgentTimeoutError}
     *
     * @example
     *     await client.chat.createChatCompletion({
     *         "key": "value"
     *     })
     */
    public createChatCompletion(
        request: ApologistAgent.ChatCompletionRequest,
        requestOptions?: ChatClient.RequestOptions,
    ): core.HttpResponsePromise<ApologistAgent.ChatCompletionResponse> {
        return core.HttpResponsePromise.fromPromise(this.__createChatCompletion(request, requestOptions));
    }

    private async __createChatCompletion(
        request: ApologistAgent.ChatCompletionRequest,
        requestOptions?: ChatClient.RequestOptions,
    ): Promise<core.WithRawResponse<ApologistAgent.ChatCompletionResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ApologistAgentEnvironment.Default,
                "chat/completions",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(request, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as ApologistAgent.ChatCompletionResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 403:
                    throw new ApologistAgent.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 422:
                    throw new ApologistAgent.UnprocessableEntityError(
                        _response.error.body as ApologistAgent.Error_,
                        _response.rawResponse,
                    );
                case 503:
                    throw new ApologistAgent.ServiceUnavailableError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.ApologistAgentError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/chat/completions");
    }

    /**
     * Updates the like status of a specific chat completion
     *
     * @param {ApologistAgent.LikeRequest} request
     * @param {ChatClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ApologistAgent.ForbiddenError}
     * @throws {@link ApologistAgent.UnprocessableEntityError}
     * @throws {@link ApologistAgent.ServiceUnavailableError}
     * @throws {@link errors.ApologistAgentError}
     * @throws {@link errors.ApologistAgentTimeoutError}
     *
     * @example
     *     await client.chat.likeCompletion({
     *         id: "id",
     *         liked: true
     *     })
     */
    public likeCompletion(
        request: ApologistAgent.LikeRequest,
        requestOptions?: ChatClient.RequestOptions,
    ): core.HttpResponsePromise<ApologistAgent.SuccessResponse> {
        return core.HttpResponsePromise.fromPromise(this.__likeCompletion(request, requestOptions));
    }

    private async __likeCompletion(
        request: ApologistAgent.LikeRequest,
        requestOptions?: ChatClient.RequestOptions,
    ): Promise<core.WithRawResponse<ApologistAgent.SuccessResponse>> {
        const { id, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ApologistAgentEnvironment.Default,
                `chat/completions/${core.url.encodePathParam(id)}/like`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as ApologistAgent.SuccessResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 403:
                    throw new ApologistAgent.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 422:
                    throw new ApologistAgent.UnprocessableEntityError(
                        _response.error.body as ApologistAgent.Error_,
                        _response.rawResponse,
                    );
                case 503:
                    throw new ApologistAgent.ServiceUnavailableError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.ApologistAgentError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/chat/completions/{id}/like");
    }

    /**
     * Updates the flagged status of a specific chat completion
     *
     * @param {ApologistAgent.FlagRequest} request
     * @param {ChatClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ApologistAgent.ForbiddenError}
     * @throws {@link ApologistAgent.UnprocessableEntityError}
     * @throws {@link ApologistAgent.ServiceUnavailableError}
     * @throws {@link errors.ApologistAgentError}
     * @throws {@link errors.ApologistAgentTimeoutError}
     *
     * @example
     *     await client.chat.flagCompletion({
     *         id: "id",
     *         flagged: true
     *     })
     */
    public flagCompletion(
        request: ApologistAgent.FlagRequest,
        requestOptions?: ChatClient.RequestOptions,
    ): core.HttpResponsePromise<ApologistAgent.SuccessResponse> {
        return core.HttpResponsePromise.fromPromise(this.__flagCompletion(request, requestOptions));
    }

    private async __flagCompletion(
        request: ApologistAgent.FlagRequest,
        requestOptions?: ChatClient.RequestOptions,
    ): Promise<core.WithRawResponse<ApologistAgent.SuccessResponse>> {
        const { id, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ApologistAgentEnvironment.Default,
                `chat/completions/${core.url.encodePathParam(id)}/flag`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as ApologistAgent.SuccessResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 403:
                    throw new ApologistAgent.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 422:
                    throw new ApologistAgent.UnprocessableEntityError(
                        _response.error.body as ApologistAgent.Error_,
                        _response.rawResponse,
                    );
                case 503:
                    throw new ApologistAgent.ServiceUnavailableError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.ApologistAgentError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/chat/completions/{id}/flag");
    }

    /**
     * Adds user feedback to a specific chat completion
     *
     * @param {ApologistAgent.FeedbackRequest} request
     * @param {ChatClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ApologistAgent.ForbiddenError}
     * @throws {@link ApologistAgent.UnprocessableEntityError}
     * @throws {@link ApologistAgent.ServiceUnavailableError}
     * @throws {@link errors.ApologistAgentError}
     * @throws {@link errors.ApologistAgentTimeoutError}
     *
     * @example
     *     await client.chat.feedbackCompletion({
     *         id: "id",
     *         feedback: "feedback"
     *     })
     */
    public feedbackCompletion(
        request: ApologistAgent.FeedbackRequest,
        requestOptions?: ChatClient.RequestOptions,
    ): core.HttpResponsePromise<ApologistAgent.SuccessResponse> {
        return core.HttpResponsePromise.fromPromise(this.__feedbackCompletion(request, requestOptions));
    }

    private async __feedbackCompletion(
        request: ApologistAgent.FeedbackRequest,
        requestOptions?: ChatClient.RequestOptions,
    ): Promise<core.WithRawResponse<ApologistAgent.SuccessResponse>> {
        const { id, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ApologistAgentEnvironment.Default,
                `chat/completions/${core.url.encodePathParam(id)}/feedback`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as ApologistAgent.SuccessResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 403:
                    throw new ApologistAgent.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 422:
                    throw new ApologistAgent.UnprocessableEntityError(
                        _response.error.body as ApologistAgent.Error_,
                        _response.rawResponse,
                    );
                case 503:
                    throw new ApologistAgent.ServiceUnavailableError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.ApologistAgentError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/chat/completions/{id}/feedback",
        );
    }

    /**
     * Creates a share record for a specific chat completion
     *
     * @param {ApologistAgent.ShareRequest} request
     * @param {ChatClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ApologistAgent.ForbiddenError}
     * @throws {@link ApologistAgent.UnprocessableEntityError}
     * @throws {@link ApologistAgent.ServiceUnavailableError}
     * @throws {@link errors.ApologistAgentError}
     * @throws {@link errors.ApologistAgentTimeoutError}
     *
     * @example
     *     await client.chat.shareCompletion({
     *         id: "id"
     *     })
     */
    public shareCompletion(
        request: ApologistAgent.ShareRequest,
        requestOptions?: ChatClient.RequestOptions,
    ): core.HttpResponsePromise<ApologistAgent.SuccessResponse> {
        return core.HttpResponsePromise.fromPromise(this.__shareCompletion(request, requestOptions));
    }

    private async __shareCompletion(
        request: ApologistAgent.ShareRequest,
        requestOptions?: ChatClient.RequestOptions,
    ): Promise<core.WithRawResponse<ApologistAgent.SuccessResponse>> {
        const { id, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ApologistAgentEnvironment.Default,
                `chat/completions/${core.url.encodePathParam(id)}/share`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as ApologistAgent.SuccessResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 403:
                    throw new ApologistAgent.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 422:
                    throw new ApologistAgent.UnprocessableEntityError(
                        _response.error.body as ApologistAgent.Error_,
                        _response.rawResponse,
                    );
                case 503:
                    throw new ApologistAgent.ServiceUnavailableError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.ApologistAgentError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/chat/completions/{id}/share");
    }

    /**
     * Returns a single chat completion (prompt) by numeric id or UUID, including applied tags, guardrail/cta metadata, share metadata, and automation results.
     *
     * @param {ApologistAgent.GetChatCompletionRequest} request
     * @param {ChatClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ApologistAgent.ForbiddenError}
     * @throws {@link ApologistAgent.NotFoundError}
     * @throws {@link ApologistAgent.InternalServerError}
     * @throws {@link errors.ApologistAgentError}
     * @throws {@link errors.ApologistAgentTimeoutError}
     *
     * @example
     *     await client.chat.getChatCompletion({
     *         id: "id"
     *     })
     */
    public getChatCompletion(
        request: ApologistAgent.GetChatCompletionRequest,
        requestOptions?: ChatClient.RequestOptions,
    ): core.HttpResponsePromise<ApologistAgent.GetChatCompletionResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getChatCompletion(request, requestOptions));
    }

    private async __getChatCompletion(
        request: ApologistAgent.GetChatCompletionRequest,
        requestOptions?: ChatClient.RequestOptions,
    ): Promise<core.WithRawResponse<ApologistAgent.GetChatCompletionResponse>> {
        const { id } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ApologistAgentEnvironment.Default,
                `chat/completions/${core.url.encodePathParam(id)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as ApologistAgent.GetChatCompletionResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 403:
                    throw new ApologistAgent.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new ApologistAgent.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new ApologistAgent.InternalServerError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.ApologistAgentError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/chat/completions/{id}");
    }
}
