// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import { mergeAdditionalBodyParameters } from "../../../../core/requestBody.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as ApologistAgent from "../../../index.js";

export declare namespace CtAsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Call-to-Action matching and analytics endpoints
 */
export class CtAsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<CtAsClient.Options>;

    constructor(options: CtAsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Finds matching CTAs based on conversation context, user, session, device, or messages
     *
     * @param {ApologistAgent.CtaMatchRequest} request
     * @param {CtAsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ApologistAgent.ForbiddenError}
     * @throws {@link ApologistAgent.UnprocessableEntityError}
     * @throws {@link ApologistAgent.InternalServerError}
     * @throws {@link ApologistAgent.ServiceUnavailableError}
     * @throws {@link errors.ApologistAgentError}
     * @throws {@link errors.ApologistAgentTimeoutError}
     *
     * @example
     *     await client.ctAs.matchCtas({
     *         "key": "value"
     *     })
     */
    public matchCtas(
        request: ApologistAgent.CtaMatchRequest,
        requestOptions?: CtAsClient.RequestOptions,
    ): core.HttpResponsePromise<ApologistAgent.MatchCtasResponse> {
        return core.HttpResponsePromise.fromPromise(this.__matchCtas(request, requestOptions));
    }

    private async __matchCtas(
        request: ApologistAgent.CtaMatchRequest,
        requestOptions?: CtAsClient.RequestOptions,
    ): Promise<core.WithRawResponse<ApologistAgent.MatchCtasResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ApologistAgentEnvironment.Default,
                "ctas/match",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(request, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as ApologistAgent.MatchCtasResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 403:
                    throw new ApologistAgent.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 422:
                    throw new ApologistAgent.UnprocessableEntityError(
                        _response.error.body as ApologistAgent.Error_,
                        _response.rawResponse,
                    );
                case 500:
                    throw new ApologistAgent.InternalServerError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 503:
                    throw new ApologistAgent.ServiceUnavailableError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.ApologistAgentError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/ctas/match");
    }

    /**
     * Records that a user clicked on a specific CTA
     *
     * @param {ApologistAgent.CtaClickRequest} request
     * @param {CtAsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ApologistAgent.ForbiddenError}
     * @throws {@link ApologistAgent.UnprocessableEntityError}
     * @throws {@link ApologistAgent.ServiceUnavailableError}
     * @throws {@link errors.ApologistAgentError}
     * @throws {@link errors.ApologistAgentTimeoutError}
     *
     * @example
     *     await client.ctAs.logCtaClick({
     *         id: "id",
     *         prompt_id: "prompt_id"
     *     })
     */
    public logCtaClick(
        request: ApologistAgent.CtaClickRequest,
        requestOptions?: CtAsClient.RequestOptions,
    ): core.HttpResponsePromise<ApologistAgent.SuccessResponse> {
        return core.HttpResponsePromise.fromPromise(this.__logCtaClick(request, requestOptions));
    }

    private async __logCtaClick(
        request: ApologistAgent.CtaClickRequest,
        requestOptions?: CtAsClient.RequestOptions,
    ): Promise<core.WithRawResponse<ApologistAgent.SuccessResponse>> {
        const { id, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ApologistAgentEnvironment.Default,
                `ctas/${core.url.encodePathParam(id)}/click`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as ApologistAgent.SuccessResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 403:
                    throw new ApologistAgent.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 422:
                    throw new ApologistAgent.UnprocessableEntityError(
                        _response.error.body as ApologistAgent.Error_,
                        _response.rawResponse,
                    );
                case 503:
                    throw new ApologistAgent.ServiceUnavailableError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.ApologistAgentError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/ctas/{id}/click");
    }
}
