// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import { mergeAdditionalBodyParameters } from "../../../../core/requestBody.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as ApologistAgent from "../../../index.js";

export declare namespace EvaluatorsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Content evaluation endpoints
 */
export class EvaluatorsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<EvaluatorsClient.Options>;

    constructor(options: EvaluatorsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Returns a paginated list of evaluations for the evaluator, scoped to the requesting agent.
     *
     * @param {ApologistAgent.ListEvaluationsRequest} request
     * @param {EvaluatorsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ApologistAgent.ForbiddenError}
     * @throws {@link ApologistAgent.NotFoundError}
     * @throws {@link ApologistAgent.InternalServerError}
     * @throws {@link errors.ApologistAgentError}
     * @throws {@link errors.ApologistAgentTimeoutError}
     *
     * @example
     *     await client.evaluators.listEvaluations({
     *         id: "id"
     *     })
     */
    public listEvaluations(
        request: ApologistAgent.ListEvaluationsRequest,
        requestOptions?: EvaluatorsClient.RequestOptions,
    ): core.HttpResponsePromise<ApologistAgent.ListEvaluationsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__listEvaluations(request, requestOptions));
    }

    private async __listEvaluations(
        request: ApologistAgent.ListEvaluationsRequest,
        requestOptions?: EvaluatorsClient.RequestOptions,
    ): Promise<core.WithRawResponse<ApologistAgent.ListEvaluationsResponse>> {
        const {
            id,
            page,
            per_page: perPage,
            min_timestamp: minTimestamp,
            max_timestamp: maxTimestamp,
            min_duration: minDuration,
            max_duration: maxDuration,
            min_score: minScore,
            max_score: maxScore,
            passed,
            benchmark,
            benchmark_run_id: benchmarkRunId,
            benchmark_question_id: benchmarkQuestionId,
        } = request;
        const _queryParams: Record<string, unknown> = {
            page,
            per_page: perPage,
            min_timestamp: minTimestamp,
            max_timestamp: maxTimestamp,
            min_duration: minDuration,
            max_duration: maxDuration,
            min_score: minScore,
            max_score: maxScore,
            passed,
            benchmark,
            benchmark_run_id: benchmarkRunId,
            benchmark_question_id: benchmarkQuestionId,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ApologistAgentEnvironment.Default,
                `evaluators/${core.url.encodePathParam(id)}/evaluations`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as ApologistAgent.ListEvaluationsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 403:
                    throw new ApologistAgent.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new ApologistAgent.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new ApologistAgent.InternalServerError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.ApologistAgentError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/evaluators/{id}/evaluations");
    }

    /**
     * Runs an evaluation on the provided content using the specified evaluator
     *
     * @param {ApologistAgent.EvaluatorRequest} request
     * @param {EvaluatorsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ApologistAgent.ForbiddenError}
     * @throws {@link ApologistAgent.UnprocessableEntityError}
     * @throws {@link ApologistAgent.InternalServerError}
     * @throws {@link ApologistAgent.ServiceUnavailableError}
     * @throws {@link errors.ApologistAgentError}
     * @throws {@link errors.ApologistAgentTimeoutError}
     *
     * @example
     *     await client.evaluators.evaluateContent({
     *         id: "id",
     *         content: "content"
     *     })
     */
    public evaluateContent(
        request: ApologistAgent.EvaluatorRequest,
        requestOptions?: EvaluatorsClient.RequestOptions,
    ): core.HttpResponsePromise<ApologistAgent.EvaluateContentResponse> {
        return core.HttpResponsePromise.fromPromise(this.__evaluateContent(request, requestOptions));
    }

    private async __evaluateContent(
        request: ApologistAgent.EvaluatorRequest,
        requestOptions?: EvaluatorsClient.RequestOptions,
    ): Promise<core.WithRawResponse<ApologistAgent.EvaluateContentResponse>> {
        const { id, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ApologistAgentEnvironment.Default,
                `evaluators/${core.url.encodePathParam(id)}/evaluations`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as ApologistAgent.EvaluateContentResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 403:
                    throw new ApologistAgent.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 422:
                    throw new ApologistAgent.UnprocessableEntityError(
                        _response.error.body as ApologistAgent.Error_,
                        _response.rawResponse,
                    );
                case 500:
                    throw new ApologistAgent.InternalServerError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 503:
                    throw new ApologistAgent.ServiceUnavailableError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.ApologistAgentError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/evaluators/{id}/evaluations");
    }

    /**
     * Returns a single evaluation for the evaluator, scoped to the requesting agent.
     *
     * @param {ApologistAgent.GetEvaluationRequest} request
     * @param {EvaluatorsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ApologistAgent.ForbiddenError}
     * @throws {@link ApologistAgent.NotFoundError}
     * @throws {@link ApologistAgent.InternalServerError}
     * @throws {@link errors.ApologistAgentError}
     * @throws {@link errors.ApologistAgentTimeoutError}
     *
     * @example
     *     await client.evaluators.getEvaluation({
     *         id: "id",
     *         evaluationId: "evaluationId"
     *     })
     */
    public getEvaluation(
        request: ApologistAgent.GetEvaluationRequest,
        requestOptions?: EvaluatorsClient.RequestOptions,
    ): core.HttpResponsePromise<ApologistAgent.GetEvaluationResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getEvaluation(request, requestOptions));
    }

    private async __getEvaluation(
        request: ApologistAgent.GetEvaluationRequest,
        requestOptions?: EvaluatorsClient.RequestOptions,
    ): Promise<core.WithRawResponse<ApologistAgent.GetEvaluationResponse>> {
        const { id, evaluationId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ApologistAgentEnvironment.Default,
                `evaluators/${core.url.encodePathParam(id)}/evaluations/${core.url.encodePathParam(evaluationId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as ApologistAgent.GetEvaluationResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 403:
                    throw new ApologistAgent.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new ApologistAgent.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new ApologistAgent.InternalServerError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.ApologistAgentError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/evaluators/{id}/evaluations/{evaluationId}",
        );
    }
}
