// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import { mergeAdditionalBodyParameters } from "../../../../core/requestBody.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as ApologistAgent from "../../../index.js";

export declare namespace BenchmarksClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Benchmark run endpoints
 */
export class BenchmarksClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<BenchmarksClient.Options>;

    constructor(options: BenchmarksClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Returns a paginated list of runs for a benchmark, scoped to the requesting agent. Each run carries nested evaluators, questions, and a flat evaluations array.
     *
     * @param {ApologistAgent.ListBenchmarkRunsRequest} request
     * @param {BenchmarksClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ApologistAgent.ForbiddenError}
     * @throws {@link ApologistAgent.NotFoundError}
     * @throws {@link ApologistAgent.InternalServerError}
     * @throws {@link errors.ApologistAgentError}
     * @throws {@link errors.ApologistAgentTimeoutError}
     *
     * @example
     *     await client.benchmarks.listBenchmarkRuns({
     *         id: "id"
     *     })
     */
    public listBenchmarkRuns(
        request: ApologistAgent.ListBenchmarkRunsRequest,
        requestOptions?: BenchmarksClient.RequestOptions,
    ): core.HttpResponsePromise<ApologistAgent.ListBenchmarkRunsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__listBenchmarkRuns(request, requestOptions));
    }

    private async __listBenchmarkRuns(
        request: ApologistAgent.ListBenchmarkRunsRequest,
        requestOptions?: BenchmarksClient.RequestOptions,
    ): Promise<core.WithRawResponse<ApologistAgent.ListBenchmarkRunsResponse>> {
        const {
            id,
            page,
            per_page: perPage,
            min_timestamp: minTimestamp,
            max_timestamp: maxTimestamp,
            min_duration: minDuration,
            max_duration: maxDuration,
            min_score: minScore,
            max_score: maxScore,
            passed,
            min_responses: minResponses,
            max_responses: maxResponses,
        } = request;
        const _queryParams: Record<string, unknown> = {
            page,
            per_page: perPage,
            min_timestamp: minTimestamp,
            max_timestamp: maxTimestamp,
            min_duration: minDuration,
            max_duration: maxDuration,
            min_score: minScore,
            max_score: maxScore,
            passed,
            min_responses: minResponses,
            max_responses: maxResponses,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ApologistAgentEnvironment.Default,
                `benchmarks/${core.url.encodePathParam(id)}/runs`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as ApologistAgent.ListBenchmarkRunsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 403:
                    throw new ApologistAgent.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new ApologistAgent.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new ApologistAgent.InternalServerError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.ApologistAgentError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/benchmarks/{id}/runs");
    }

    /**
     * Executes a benchmark run and returns the aggregated result with nested evaluators, questions, and a flat evaluations array.
     *
     * @param {ApologistAgent.BenchmarkRunRequest} request
     * @param {BenchmarksClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ApologistAgent.ForbiddenError}
     * @throws {@link ApologistAgent.NotFoundError}
     * @throws {@link ApologistAgent.UnprocessableEntityError}
     * @throws {@link ApologistAgent.InternalServerError}
     * @throws {@link ApologistAgent.ServiceUnavailableError}
     * @throws {@link errors.ApologistAgentError}
     * @throws {@link errors.ApologistAgentTimeoutError}
     *
     * @example
     *     await client.benchmarks.runBenchmark({
     *         id: "id"
     *     })
     */
    public runBenchmark(
        request: ApologistAgent.BenchmarkRunRequest,
        requestOptions?: BenchmarksClient.RequestOptions,
    ): core.HttpResponsePromise<Record<string, unknown>> {
        return core.HttpResponsePromise.fromPromise(this.__runBenchmark(request, requestOptions));
    }

    private async __runBenchmark(
        request: ApologistAgent.BenchmarkRunRequest,
        requestOptions?: BenchmarksClient.RequestOptions,
    ): Promise<core.WithRawResponse<Record<string, unknown>>> {
        const { id, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ApologistAgentEnvironment.Default,
                `benchmarks/${core.url.encodePathParam(id)}/runs`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Record<string, unknown>, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 403:
                    throw new ApologistAgent.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new ApologistAgent.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 422:
                    throw new ApologistAgent.UnprocessableEntityError(
                        _response.error.body as ApologistAgent.Error_,
                        _response.rawResponse,
                    );
                case 500:
                    throw new ApologistAgent.InternalServerError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 503:
                    throw new ApologistAgent.ServiceUnavailableError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.ApologistAgentError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/benchmarks/{id}/runs");
    }

    /**
     * Returns a single benchmark run by id or UUID, scoped to the requesting agent, including nested evaluators, questions, and evaluations.
     *
     * @param {ApologistAgent.GetBenchmarkRunRequest} request
     * @param {BenchmarksClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ApologistAgent.ForbiddenError}
     * @throws {@link ApologistAgent.NotFoundError}
     * @throws {@link ApologistAgent.InternalServerError}
     * @throws {@link errors.ApologistAgentError}
     * @throws {@link errors.ApologistAgentTimeoutError}
     *
     * @example
     *     await client.benchmarks.getBenchmarkRun({
     *         id: "id",
     *         runId: "runId"
     *     })
     */
    public getBenchmarkRun(
        request: ApologistAgent.GetBenchmarkRunRequest,
        requestOptions?: BenchmarksClient.RequestOptions,
    ): core.HttpResponsePromise<ApologistAgent.GetBenchmarkRunResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getBenchmarkRun(request, requestOptions));
    }

    private async __getBenchmarkRun(
        request: ApologistAgent.GetBenchmarkRunRequest,
        requestOptions?: BenchmarksClient.RequestOptions,
    ): Promise<core.WithRawResponse<ApologistAgent.GetBenchmarkRunResponse>> {
        const { id, runId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ApologistAgentEnvironment.Default,
                `benchmarks/${core.url.encodePathParam(id)}/runs/${core.url.encodePathParam(runId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as ApologistAgent.GetBenchmarkRunResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 403:
                    throw new ApologistAgent.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new ApologistAgent.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new ApologistAgent.InternalServerError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.ApologistAgentError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/benchmarks/{id}/runs/{runId}");
    }
}
